 
    .mobile-head-bg{
	display:block;
   }
	 
	.home-head-bg{
	width:100%;
	height:220px;
	 background:none;
	 
	 position: relative;
}
.home-head-centent{
	 position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width:100%;
	height:220px;
  background-color:none ; 
  
}
.home-head-centent img{
	width:100%;
	height:55px;
}
.head-title{
	 
	display: none; 
}
/*.head-title-english{
	width:80%;
	line-height:25px;
	margin-left:20%;
	font-size: 18px;
	color:#FFFFFF;
	 
}*/
.head-btn{
	 display: none;
 
}
/*推荐医生*/
.tj-doctor-box{
	width:100%;
	 border-top:10px solid RGBA(248,249,251);
	background: white;
	display: inline-block;
	padding-bottom:10px;
}
.tj-doctor-main-box{
	width:90%;
	 
	display: inline-block;
	margin-left:5%;
}
.tj-doctor-title{
	width:100%;
	height:50px;
	line-height: 50px;
	 
	
}
.title-left{
	color:RGBA(58, 58, 59, 1);
	font-size:14px;
	float:left;
}
.title-right{
	width:20%;
	height:50px;
	float:right;
	/* display: none;*/
}
.title-right a{
	color:RGBA(58, 58, 59, 1);;
	font-size: 12px;
}
 
.tj-doctor-list-box{
	width:100%;
	display: inline-block;
}
.tj-doctor-list{
	width:100%;
	 
	 list-style: none;
	 /* display:flex;*/
	/* flex-direction: row;  *//* 子元素横向排列 */
     /*justify-content:  space-between; *//* 相对父元素水平居中 */
    /* align-items: center;*/ /*  子元素相对父元素垂直居中 */
   margin-bottom: 30px;
      
	 
}
.tj-doctor-list>li{
	background:white;
	width:30%; 
	margin-right:3.3%;
	overflow: hidden;
	 display: inline-block;
	 float: left;
	 border:1px solid RGBA(231, 231, 231, 1);
	 margin-bottom: 10px;
}
.tj-doctor-list>li:hover{
	 box-shadow:1px 10px 10px 10px #CCCCCC;
}
.tj-doctor-list>li>a>img{
	 width:100%;
	 margin-bottom: 10px;
	 
}
 a:link,a:visited{
 text-decoration:none;  /*超链接无下划线*/
}
.list-card-name{
	width:100%;
	height:20px;
	line-height:20px;
	text-align: center;
	font-size: 14px;
	color:RGBA(58, 58, 59, 1);
	overflow: hidden;
	margin-bottom: 5px;
}
.list-card-adress{
	width:100%;
	display: inline-block;
	 
	height:30px;
	line-height:15px;
	text-align: center;
	font-size: 14px;
	color:RGBA(147, 147, 147, 1);
}
	.search-box{
	width:90%;
	height:35px;
	 padding-top:5px;
	text-align: center;
	background: #EDEDED;
	border-radius: 50px;
	margin:0 auto;
	 margin-top:0px;
	 margin-bottom: 20px;
	
}
.search-box input{
	width:70%;
	height:30px;
	float:left;
	margin-left:10%;
	font-size: 14px;
	border:0px;
	background: #EDEDED;
	
	 
	
}
.search-btn{
	width:40px;
	height:30px;
	border:0px;
	 float:right;
	 margin-right:2%;
	font-size: 12px;
	background: #EDEDED;
	border-radius: 50px;
	
}
input {outline:none;}
	.login-title-gohome{
	width:95%;
	height:50px;
	margin:0 auto;
	line-height: 50px;
	font-size:12px;
	color:RGBA(80, 80, 80, 1);
	 /*border-bottom: 1px solid RGBA(235, 235, 235, 1);*/
	 margin-top:10px;
	 
}
.login-title-gohome a{
	font-size:12px;
	color:RGBA(80, 80, 80, 1);
}
.login-title-gohome i{
	font-size: 10px;
	color:RGBA(131, 131, 131, 1);
	}
 
	
	
	
	
	
	
	
    