 .login-title-gohome{
	width:100%;
	height:50px;
	padding:0 2.5%;
	margin:0 auto;
	line-height: 50px;
	font-size:12px;
	color:RGBA(80, 80, 80, 1);
	background: white;
	margin-top:10px;
	 
	 
	 
}
.login-title-gohome a{
	font-size:12px;
	color:RGBA(80, 80, 80, 1);
}
.login-title-gohome i{
	font-size: 10px;
	color:RGBA(131, 131, 131, 1);
	 }
.page-title{
	width:95%;
	height:1px;
	line-height: 50px;
	font-size: 14px;
	color:#000000;
	text-align: center;
	border-bottom: 1px solid #EBEBEB;
	 
	margin:0 auto;
}
  .nav-tabs>li>a {
    margin-right: 2px;
    line-height: 2.62857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    
}
.nav-tabs>li{
	height:53px;
	/*overflow: hidden;*/
	    /*display: -webkit-box;
    white-space: normal !important;
    text-overflow: ellipsis;
    word-wrap: break-word;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;*/
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #009BFF;
    cursor: default;
    
    background-color: white;
     border: 0px solid #ddd; 
     border-bottom-color: transparent;
     font-size:12px; 
     /*border-bottom: 1px solid #009BFF;*/
    
}
.nav-tabs>li.active>.menu-bottom, .nav-tabs>li.active>.menu-bottom:focus, .nav-tabs>li.active>.menu-bottom:hover {
	width:50px;
	height:1px;
	background:#009BFF;
	margin-left:20%;
	
	}
a {
    color: #999999;
    text-decoration: none;
    font-size: 12px;
}
a:link,a:visited{
	text-decoration: none;
}
.my-order-list-box{
	width:95%;
	display: inline-block;
	 
	list-style: none;
	 
	margin-left:2.5%;
}
.my-order-list-box li{
	width:100%;
	display: inline-block;
	padding:15px 0;
	border-bottom: 1px solid #EBEBEB;
}
.order-video-img{
	width:30%;
	height:73px;
	background: #E1E1E1;
	float:left;
}
.order-video-right{
	width:70%;
	height:73px;
	float:left;
	padding-left:2%;
}
.right-title{
	color:#333333;
	font-size: 14px;
	line-height: 20px;
	
}

.right-man{
	color:#636B75;
	font-size: 12px;
	line-height: 22px;
	
}
.right-money{
	color:#EF0C0C;
	font-size: 12px;
	line-height: 22px;
}
/*医学文章*/
/*医学文章列表*/
.doctor-article-list-box{
	width:95%;
	display: inline-block;
	margin-left:2.5%;
	list-style: none;
}
.doctor-article-list-box li{
	width:100%;
	display: inline-block;
	border-bottom: 1px solid #D8D8D8;
	margin-top:20px;
}
.article-list-title{
	width:100%;
	line-height: 18px;
	color:#393939;
	font-size: 12px;
	display: inline-block;
}
.col-red{
	color:#05C8AA;
}
.article-foot{
	width:100%;
	height:40px;
	line-height: 40px;
}
.article-foot-i{
	width:14px;
	height:14px;
	border-radius:50px;
	background: #D8D8D8;
	display: inline-block;
	float:left;
	margin-top:13px;
}
.col-blue{
	color:#009BFF;
	font-size: 12px;
	margin-left:0%;
}
.col-gray{
	color:#999999;
	font-size: 14px;
	margin-left:2%;
	
}
.col-money{
	color:#FF7F7F;
	font-size: 10px;
	margin-left:2%;
	
}
.col-right-argument{
	float:right;
	color:#999999;
	font-size: 14px;
	
	
}
.col-right-can{
	float:right;
	color:#999999;
	font-size: 14px;
	margin-right:2%;
}
.zanwu-box{
	width:100%;
	text-align: center;
	display: inline-block;
	margin-top:50px;
	margin-bottom: 300px;
}
.zanwu-img{
	width:50px;
	height:50px;
	 
   margin:0 auto;
}
.zanwu-content{
	width:100%;
	height:50px;
	line-height: 50px;
	text-align: center;
	font-size: 16px;
}
.service-list-box{
	width:95%;
	display: inline-block;
	margin-left:2.5%;
	
	
}
.service-list-box li{
	width:100%;
	height:150px;
	background: white;
	list-style: none;
	margin-top:10px;
	padding:10px 3%;
	
}
.service-number{
	width:100%;
	height:22px;
	line-height: 22px;
	font-size: 14px;
	color:RGBA(79, 80, 96, 1);
	
}
.service-time{
	width:100%;
	height:40px;
	line-height: 30px;
	font-size: 14px;
	color:RGBA(79, 80, 96, 1);
	border-bottom: 1px solid RGBA(219, 216, 216, 1);
}
.service-title{
	width:100%;
	height:44px;
	font-size: 16px;
	color:RGBA(79, 80, 96, 1);
	line-height: 44px;
	font-weight: 600;
}
.service-money span{
	float:left;
	font-size: 14px;
	color:RGBA(79, 80, 96, 1);
	
}
/*.service-money button{
	width:75px;
	height:28px;
	float:right;
	font-size: 14px;
	color:RGBA(79, 80, 96, 1);
	background: white;
	border:1px solid RGBA(196, 196, 196, 1);
	 	
}*/
/*.service-money button:last-child{
	margin-right:10px;
}*/
.service-money button a{
	 
	font-size: 12px;
	color:RGBA(79, 80, 96, 1);
	 
	 	
}
.purchase{
	width:75px;
	height:28px;
	float:right;
	font-size: 14px;
	color:RGBA(79, 80, 96, 1);
	background: white;
	border:1px solid RGBA(196, 196, 196, 1);
}
.purchase a{
	font-size: 14px;
	color:RGBA(79, 80, 96, 1);
	text-decoration: none;
}
.evaluate{
	float:right;
	width:65px;
	height:25px;
	font-size: 12px;
	margin-right:10px;
	color:RGBA(79, 80, 96, 1);
	background: white;
	border:1px solid RGBA(196, 196, 196, 1);
	margin-top:2px;
}
.evaluate a{
	font-size: 12px;
	color:RGBA(79, 80, 96, 1);
	text-decoration: none;
}
.reply{
	float:right;
	width:55px;
	height:20px;
	font-size: 12px;
	margin-right:10px;
	color:RGBA(79, 80, 96, 1);
	background: white;
	border:1px solid RGBA(196, 196, 196, 1);
	margin-top:5px;
	
}
.reply a{
	font-size: 12px;
	color:RGBA(79, 80, 96, 1);
	text-decoration: none;
}