	*{
    margin: 0px;
    padding: 0px;
    font-family: "微软雅黑";
}
#head{
    height: 80px;
    width: 95%;
    /*width: 85%;*/
    /*background-color: goldenrod;*/
   
    /*font-size: 48px;*/
    
    margin: 0 auto;
}
#main{
	 width: 95%;
	 margin: 0 auto;
}
#foot{
	width:95%;
	height:401px;
	background: #303030;
	margin:0 auto;
	padding-top:50px;
}
.head-div{
    display: none;
    font-size: 20px;
    height: 30px;
    width: 100px;
    background-color: green;
    float: right;
    line-height: 30px;
    margin-top: 35px;
}
#head ul{
    width: 60%;
    float:right;
    margin-right:10%;
   
}
#head ul li{
     width: 20%;
     height:80px;
    float:left;
    text-align: center;
    list-style: none;
    font-size: 16px;
    
}
#head ul li a:hover{
	color:#3174BB;
	border-bottom: 1px solid #3174BB;
}
#head ul li a{
	color:#636B75;
	height:80px;
	line-height: 80px;
	display:inline-block;
	text-decoration: none;
}
#main{
    height: auto;
    margin: 10px auto;
    overflow: hidden;
}
 
 
.logo{
	 width:20%;
	 float: left;
	 text-align: center;
}
.logo img{
	margin-top:30px;
	height:46px;
}
 .foot-one-box{
 	width:100%;
 	height:200px;
 	 
 }
 .foot-one-left{
 	width:70%;
 	height:200px;
 	float:left;
 	padding-left:10%;
 }
 .foot-one-right{
 	width:30%;
 	height:200px;
 	float:left;
 }
 .foot-one-list{
 	width:20%;
 	list-style: none;
 	float:left;
  
 }
 .foot-one-list li {
 	width:100%;
 	height:32px;
 	line-height: 32px;
 	color:#FFFFFF;
 	font-size: 13px;
 }
 .foot-one-right-title{
 	width:80%;
 	height:50px;
 	color:RGBA(251, 251, 251, 1);
 	text-align: right;
 	font-size: 18px;
 	margin-right:20%;
 }
 .foot-title-one{
 	color:RGBA(251, 251, 251, 1);
 }
 .foot-title-two{
 	color:RGBA(251, 251, 251, 1);
 }
 .input-bg{
 	background: RGBA(48, 48, 48, 1);
 }
 .foot-img{
 	width:100%;
 	height:80px;
 	 
 	border-bottom: 1px solid RGBA(83, 83, 83, 1);
 }
 .foot-img img{
 	width:80px;
 	height:80px;
 	margin-left:10%;
 }
 .foot-two{
 	width:100%;
 	height:50px;
 	line-height: 50px;
 }
 .foot-two span{
 	color:RGBA(255, 255, 255, 1);
 	font-size: 12px;
 	float: right;
 	margin-right:5%;
 }
 .foot-two img{
 	margin-top:20px;
 	margin-left:10%;
 }
@media only screen and (max-width: 1200px) {
    #head,
    #foot,
    #main{
    width: 100%;
    }
    
}
@media only screen and (max-width: 980px) {
    
}
@media only screen and (max-width: 640px) {
    
    #head ul{
        display: none;
    }
    .head-div{
        display: block;
    }
    .icon-header{
	width:100%;
	height:150px;
	background: #008000;
	 
	position: absolute;
	z-index: 9999;
	display: none;
}
}