	*{
    margin: 0px;
    padding: 0px;
    font-family: "微软雅黑";
}
.start-head-box{
	width:1440px;
	margin:0 auto;
	height:45px;
	background: RGBA(70, 70, 70, 1);
	color:RGBA(255, 255, 255, 1);
	font-size: 13px;
	padding-left:10%;
	overflow: hidden;
}
.start-head-box span{
	display: inline-block;
	float:left;
}
.start-01,.start-02,.start-04,.start-05{
	 
	width:16px;
	height:16px;
	margin-left:2%;
	text-align: center;
	line-height: 16px;
	margin-top:15px;
	border:1px solid RGBA(255, 255, 255, 1);
}
.start-03{
	width:16px;
	height:16px;
	margin-left:2%;
	text-align: center;
	line-height: 16px;
	margin-top:15px;
	color:RGBA(249, 84, 84, 1);
	border:1px solid RGBA(249, 84, 84, 1);
}
.start-06-copy,.start-07-copy{
	width:16px;
	height:16px;
	text-align: center;
	line-height: 16px;
	margin-top:2px;
	border:1px solid RGBA(255, 255, 255, 1);
}
.start-right{
	width:50%;
	height:45px;
	 margin-right:6%;
	 overflow: hidden;
	float:right;
	}
.start-06,.start-07{
 margin-top:15px;
 height:18px;
 overflow: hidden;
}
 
.start-06{
	margin-left:45%;
}
.start-07{
	margin-left:3%;
}
#head{
    height: 80px;
    width: 1440px;
    margin: 0 auto;
     
}
#main{
	 width: 1440px;
	 margin: 0 auto;
	 
}
#foot{
	width:1440px;
	height:401px;
	background: #303030;
	margin:0 auto;
	padding-top:50px;
}
.head-div{
    display: none;
    font-size: 20px;
    height: 30px;
    width: 100px;
    /*background-color: green;*/
    float: right;
    line-height: 30px;
    margin-top: 35px;
    text-align: right;
    padding-right:5%;
}
#head ul{
    width: 45%;
    float:right;
    margin-right:10%;
     
   
}
#head ul li{
     width: 20%;
     height:80px;
    float:left;
    text-align: center;
    list-style: none;
    font-size: 16px;
    
}
 
#head ul li a{
	color:#636B75;
	height:80px;
	line-height: 80px;
	display:inline-block;
	text-decoration: none;
}
#main{
    height: auto;
   /* margin-top:10px;*/
     
    /*overflow: hidden;*/

}
/*main头部*/
.home-head-bg{
	width:100%;
	height:460px;
	background: url(../images/slide/sy.png);
	 background-repeat: no-repeat;
	  background-size:cover; 
	 position: relative;
	  margin-top:2px;
	 
}
.home-head-centent{
	 position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width:100%;
	height:460px;
   
   background-color: rgba(0,0,0,0.45) ; 
  
}
 .border-home{
 	width:24px;
 	height:3px;
 	display: none;
 	background: #3174BB;
 	margin:0 auto;
}
#head ul li:hover a{
	color:#3174BB;
/*	border-bottom: 1px solid #3174BB;*/
  display: block;
}
#head ul li:hover .border-home{
	/*color:#3174BB;*/
/*	border-bottom: 1px solid #3174BB;*/
  display: block;
}
 
.logo{
	 width:20%;
	 float: left;
	 text-align: center;
}
.logo img{
	margin-top:20px;
	height:46px;
}
 .foot-one-box{
 	width:100%;
 	height:200px;
 	 
 }
 .foot-one-left{
 	width:70%;
 	height:200px;
 	float:left;
 	padding-left:10%;
 }
 .foot-one-right{
 	width:30%;
 	height:200px;
 	float:left;
 }
 .foot-one-list{
 	width:20%;
 	list-style: none;
 	float:left;
  
 }
 .foot-one-list li {
 	width:100%;
 	height:32px;
 	line-height: 32px;
 	color:#FFFFFF;
 	font-size: 13px;
 }
 .foot-one-right-title{
 	width:80%;
 	height:50px;
 	color:RGBA(251, 251, 251, 1);
 	text-align: right;
 	font-size: 18px;
 	margin-right:20%;
 }
 .foot-title-one{
 	color:RGBA(251, 251, 251, 1);
 }
 .foot-title-two{
 	color:RGBA(251, 251, 251, 0.6);
 }
 .input-bg{
 	background: RGBA(48, 48, 48, 1);
 }
 .foot-img{
 	width:100%;
 	height:80px;
 	 
 	border-bottom: 1px solid RGBA(83, 83, 83, 1);
 }
 .foot-img img{
 	width:80px;
 	height:80px;
 	margin-left:10%;
 }
 .foot-two{
 	width:100%;
 	height:50px;
 	line-height: 50px;
 }
 .foot-two span{
 	color:RGBA(255, 255, 255, 0.6);
 	font-size: 12px;
 	float: right;
 	margin-right:5%;
 }
 .foot-two img{
  
 	height:28px;
 	margin-top:20px;
 	margin-left:10%;
 }
 /*我们合作的医院*/
.home-doctor{
	width:100%;
	clear: both;
	padding-top:50px;
	
}
.home-doctor-title{
	width:100%;
	height:100px;
	 
}
.title-col-blue{
	width:100%;
	height:50px;
	line-height: 50px;
	text-align: center;
	font-size: 36px;
	color:#58A2FC;
}
.title-col-english{
	width:100%;
	height:50px;
	line-height:22px;
	text-align: center;
	font-size: 16px;
	color:#546497;
}
.home-doctor-logo{
	width:100%;
	 
}
.home-doctor-logo>img{
	width:100%;
	 
}
@media screen and ( min-width: 1440px ) {
	 .start-head-box{
	width:95%;
	margin:0 auto;
	height:45px;
	background: RGBA(70, 70, 70, 1);
	color:RGBA(255, 255, 255, 1);
	font-size: 13px;
	padding-left:10%;
	overflow: hidden;
}
#head{
    height: 80px;
    width: 95%;
    
    margin: 0 auto;
     
}
#main{
	 width: 95%;
	 margin: 0 auto;
	 
}
#foot{
	width:95%;
	height:401px;
	background: #303030;
	margin:0 auto;
	padding-top:50px;
}


	 
}
/*min1440px*/
}
@media screen and ( max-width: 1440px ) {
	  .start-head-box{
	width:1440px;
	margin:0 auto;
	height:45px;
	background: RGBA(70, 70, 70, 1);
	color:RGBA(255, 255, 255, 1);
	font-size: 13px;
	padding-left:10%;
	overflow: hidden;
}
#head{
    height: 80px;
    width: 1440px;
    
    margin: 0 auto;
     
}
#main{
	 width: 1440px;
	 margin: 0 auto;
	 
}
#foot{
	width:1440px;
	height:401px;
	background: #303030;
	margin:0 auto;
	padding-top:50px;
}
	
}
/*max1440px*/
@media only screen and (max-width: 1200px) {
    
    .icon-header{
	 	display: none;
	 }
	 
}
@media only screen and (max-width: 980px) {
	 .icon-header{
	 	display: none;
	 }
	  
    
}
@media only screen and (max-width: 640px) {
    
    #head ul{
        display: none;
    }
    .head-div{
        display: block;
    }
    .icon-header{
	width:100%;
	background:white;
 
}

.icon-header>ul{
	width:100%;
	list-style: none;
	 
}
.icon-header>ul>li{
	width:100%;
	height:40px;
	border-bottom: 1px solid #CCCCCC;
	line-height: 40px;
	text-align: center;
	font-size: 16px;
	 
}
}
@media screen and ( min-width: 640px ) {
	  .icon-header{
	  	display: none;
	  }
	  .icon-header>ul{
	  	display: none;
	  }
	
}