 
.home-head-bg{
	width:100%;
	height:460px;
	/*background: url(../images/bag/banner007.png);*/
	 background-repeat: no-repeat;
	  background-size:100% 460px; 
	 position: relative;
}
.home-head-centent{
	 position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width:100%;
	height:460px;
    text-align: center;
 /* background-color: rgba(0,0,0,0.45) ; */
background: white;
  
}
.home-head-centent img{
	width:80%;
	height:460px;
	margin:0 auto;
}
body{
	background:RGBA(248, 249, 251, 1) ;
}
.head-title{
	width:100%;
	line-height: 50px;
	margin-top:230px;
	/*margin-left:20%;*/
	font-size: 55px;
	text-align: center;
	color:#FFFFFF;
	 
}
/*.head-title-english{
	width:80%;
	line-height:25px;
	margin-left:20%;
	font-size: 18px;
	color:#FFFFFF;
	 
}*/
.head-btn{
	width:192px;
	height:60px;
	 margin:0 auto;
	background: #3A8BF6;
	font-size: 20px;
	color:#FFFFFF;
	text-align: center;
	line-height:60px;
	margin-top:50px;
 
}
.texture {
    margin-top: 10px;
    margin-bottom: 23px;
}
 .texture img{
 	width:100%;
 	height:5px;
 }
/*远程视频的优势*/
.vs {
	width:100%;
	height:750px;
	margin:0 auto;
	background:#F8F9FB;
   /* margin-bottom: 30px;*/
    padding-left: 3%;
    
    font-size: 25px;
}
.col-title-01{
	color:RGBA(80, 80, 80, 1);
}
.col-title-02{
	color:RGBA(81, 164, 255, 1);
}
.col-title-03{
	color:RGBA(80, 80, 80, 1);
}
.zj {
    width: 100%;
    height: 10px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 40px;
   /* margin-bottom: 30px;*/
}
.zj h2 {
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: bold;
    line-height: 30px;
    color: #1582d3;
    font-family: Consolas, Andale Mono, Lucida Console, Lucida Sans Typewriter, Monaco, Courier New, monospace;
}
.am-g-1 {
	width:85%;
	height:80px;
	background:RGBA(251, 251, 251, 1);
	line-height: 80px;
	margin:0 auto;
    
    
}
 
.am-u-sm-5 {
	float:left;
	text-align: center;
    width: 41.66666667%;
}
.am-u-sm-4 {
	float:left;
    width: 33.33333333%;
}
.am-u-sm-3 {
	float:left;
    width: 25%;
}
.project-item.am-g {
	height:70px;
	line-height: 70px;
    margin:0 auto;
    width: 85%;
    color:RGBA(68, 68, 70, 1);
    font-size: 20px;
   
}
.bg-item-01{
	background: RGBA(255, 255, 255, 1);
}
.bg-item-02{
	background:RGBA(251, 251, 251, 1) ;
}
.project-item:hover{
	font-size:25px;
	font-family: "黑体";
}
.project-item:hover img{
	height:50px;
}
/*远程视频门诊流程*/
.bg-box{
	display: inline-block;
	width:100%;
	background: RGBA(248, 249, 251, 1);
}
.bg-white{
	width:95%;
	display: inline-block;
	margin:0 auto;
	background: white;
	margin-left:2.5%;
	margin-bottom: 70px;
	padding:0 2%;
	margin-top:70px;
}
 
.lg {
	 height:70px;
    margin-bottom: 20px;
}
.lg h2 {
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: bold;
    line-height: 90px;
    text-align: center;
    color: #1582d3;
    font-family: Consolas, Andale Mono, Lucida Console, Lucida Sans Typewriter, Monaco, Courier New, monospace;
}
.cx {
    margin: 0 auto;
    max-width: 98%;
    height: 461px;
    position: relative;
    margin-bottom: 100px;
}
.cx-item {
    position: relative;
    float: left;
    height: 120px;
    width: 26.33%;
    background-color: #99ccff;
}
.cx-item .content {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    width: 90%;
    font-size: 14px;
    letter-spacing: 2px;
    color: #FFFFFF;
    font-family: Consolas, Andale Mono, Lucida Console, Lucida Sans Typewriter, Monaco, Courier New, monospace;
}
.gloomy {
    margin-top: 37px;
    float: left;
    width: 10.5%;
    text-align: center;
}
.cx-item {
    position: relative;
    float: left;
    height: 120px;
    width: 26.33%;
    background-color: RGBA(81, 164, 255, 1);
}
.cx-item .content {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    width: 90%;
    font-size: 14px;
    letter-spacing: 2px;
    color: #FFFFFF;
    font-family: Consolas, Andale Mono, Lucida Console, Lucida Sans Typewriter, Monaco, Courier New, monospace;
}
.gl {
    float: right;
    margin-right: 10%;
    margin-top: 13px;
    height: 104px;
    width: 5.8%;
}
.disige, .diwuge {
    margin-top: 191px;
}
.gloomy2 {
    margin-top: 228px;
}
.disige, .diwuge {
    margin-top: 191px;
}
.dilige {
    background: none;
    height: 172px;
}
.xuxian {
    width: 64.24%;
    height: 212px;
    position: absolute;
    left: -4px;
    top: 267px;
    border: 2px dashed #cccccc;
}
.gloomy3 {
    margin-top: 228px;
}
.cx-type {
    position: relative;
    padding-left: 44px;
    margin-bottom: 18px;
    line-height: 40px;
    background-color: RGBA(81, 164, 255, 1);
}
.suozi {
    margin-top: 8px;
    float: left;
    margin-left: 5px;
}
.diwuge p {
    line-height: 40px;
    margin-top: 1px;
    margin-left: 25px;
}
.cx-type::before {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    content: '';
    width: 22px;
    height: 23px;
    background: url(../images/3333_05.png) center no-repeat;
}
.xuxian p {
    width: 100%;
    position: absolute;
    left: 3px;
    top: 182px;
    color: #cccccc;
    font-family: Consolas, Andale Mono, Lucida Console, Lucida Sans Typewriter, Monaco, Courier New, monospace;
}
/*远程视频流程图片*/
.video-copy-img{
	width:100%;
	 
	background:white;
	display: inline-block;
	text-align: center;
	padding-bottom: 100px;
	padding-top:50px;
}
.video-copy-img img{
	width:60%;
	 
}
.mobile-head-bg{
	display: none;
}
/*mobile手机端布局样式*/
@media only screen and (max-width: 640px) {
	.pc-head-bg{
		display: none;
	}
	.mobile-head-bg{
		display: block;
	}
	.home-head-bg{
	width:100%;
	height:150px;
	/*background: url(../images/bag/banner007.png);*/
	 background-repeat: no-repeat;
	  background-size:100% 460px; 
	 position: relative;
	 
}
.home-head-centent{
	 position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width:100%;
	height:150px;
    text-align: center;
 /* background-color: rgba(0,0,0,0.45) ; */
   background: white;
   padding-top:12.5px;
  
}
.home-head-centent img{
	width:80%;
	height:125px;
	 
	margin:0 auto;
}
body{
	background:RGBA(248, 249, 251, 1) ;
}
.head-title{
	width:100%;
	line-height: 50px;
	margin-top:230px;
	/*margin-left:20%;*/
	font-size: 55px;
	text-align: center;
	color:#FFFFFF;
	 
}
 
.texture {
    margin-top: 10px;
    margin-bottom: 23px;
}
 .texture img{
 	width:100%;
 	height:5px;
 }
/*远程视频的优势*/
.vs {
	width:100%;
	height:310px;
	margin:0 auto;
	background:#F8F9FB;
   /* margin-bottom: 30px;*/
    padding-left:0;
    
    font-size: 10px;
}
.col-title-01{
	color:RGBA(80, 80, 80, 1);
}
.col-title-02{
	color:RGBA(80, 80, 80, 1);
}
.col-title-03{
	color:RGBA(80, 80, 80, 1);
}
.zj {
    width: 100%;
    height: 10px;
    text-align: center;
    margin-bottom:5px;
    margin-top: 0px;
   /* margin-bottom: 30px;*/
}
.zj h2 {
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: bold;
    line-height: 30px;
    color: #1582d3;
    font-family: Consolas, Andale Mono, Lucida Console, Lucida Sans Typewriter, Monaco, Courier New, monospace;
}
.text-center img{
	height:15px;
}
.am-g-1 {
	width:95%;
	height:40px;
	background:RGBA(251, 251, 251, 1);
	line-height:40px;
	margin:0 auto;
    
    
}
 
.am-u-sm-5 {
	float:left;
	text-align: center;
    width: 41.66666667%;
    
}
.am-u-sm-4 {
	float:left;
    width: 33.33333333%;
}
.am-u-sm-3 {
	float:left;
    width: 25%;
}
.project-item.am-g {
	height:30px;
	line-height: 30px;
    margin:0 auto;
    width: 95%;
    color:RGBA(68, 68, 70, 1);
    font-size: 6px;
    overflow: hidden;
   
}
.bg-item-01{
	background: RGBA(255, 255, 255, 1);
}
.bg-item-02{
	background:RGBA(251, 251, 251, 1) ;
}
.project-item:hover{
	font-size:8px;
	font-family: "黑体";
}
.project-item:hover img{
	height:15px;
}
/*远程视频门诊流程*/
.bg-box{
	display: inline-block;
	width:100%;
	background: RGBA(248, 249, 251, 1);
}
.bg-white{
	width:95%;
	display: inline-block;
	margin:0 auto;
	background: white;
	margin-left:2.5%;
	margin-bottom: 70px;
	padding:0 2%;
	margin-top:70px;
}
 
.lg {
	 height:70px;
    margin-bottom: 20px;
}
.lg h2 {
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: bold;
    line-height: 90px;
    text-align: center;
    color: #1582d3;
    font-family: Consolas, Andale Mono, Lucida Console, Lucida Sans Typewriter, Monaco, Courier New, monospace;
}
.cx {
    margin: 0 auto;
    max-width: 98%;
    height: 461px;
    position: relative;
    margin-bottom: 100px;
}
.cx-item {
    position: relative;
    float: left;
    height: 120px;
    width: 26.33%;
    background-color: #99ccff;
}
.cx-item .content {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    width: 90%;
    font-size: 14px;
    letter-spacing: 2px;
    color: #FFFFFF;
    font-family: Consolas, Andale Mono, Lucida Console, Lucida Sans Typewriter, Monaco, Courier New, monospace;
}
.gloomy {
    margin-top: 37px;
    float: left;
    width: 10.5%;
    text-align: center;
}
.cx-item {
    position: relative;
    float: left;
    height: 120px;
    width: 26.33%;
    background-color: RGBA(81, 164, 255, 1);
}
.cx-item .content {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    width: 90%;
    font-size: 14px;
    letter-spacing: 2px;
    color: #FFFFFF;
    font-family: Consolas, Andale Mono, Lucida Console, Lucida Sans Typewriter, Monaco, Courier New, monospace;
}
.gl {
    float: right;
    margin-right: 10%;
    margin-top: 13px;
    height: 104px;
    width: 5.8%;
}
.disige, .diwuge {
    margin-top: 191px;
}
.gloomy2 {
    margin-top: 228px;
}
.disige, .diwuge {
    margin-top: 191px;
}
.dilige {
    background: none;
    height: 172px;
}
.xuxian {
    width: 64.24%;
    height: 212px;
    position: absolute;
    left: -4px;
    top: 267px;
    border: 2px dashed #cccccc;
}
.gloomy3 {
    margin-top: 228px;
}
.cx-type {
    position: relative;
    padding-left: 44px;
    margin-bottom: 18px;
    line-height: 40px;
    background-color: RGBA(81, 164, 255, 1);
}
.suozi {
    margin-top: 8px;
    float: left;
    margin-left: 5px;
}
.diwuge p {
    line-height: 40px;
    margin-top: 1px;
    margin-left: 25px;
}
.cx-type::before {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    content: '';
    width: 22px;
    height: 23px;
    background: url(../images/3333_05.png) center no-repeat;
}
.xuxian p {
    width: 100%;
    position: absolute;
    left: 3px;
    top: 182px;
    color: #cccccc;
    font-family: Consolas, Andale Mono, Lucida Console, Lucida Sans Typewriter, Monaco, Courier New, monospace;
}
/*远程视频流程图片*/
.video-copy-img{
	width:100%;
	  
	background:white;
	display: inline-block;
	text-align: center;
	padding-bottom: 20px;
	padding-top:20px;
}
.video-copy-img img{
	width:90%;
	 height:277px;
}
	
	
	
	
	
	
	
}