body{
	background: #F9F9F9;
}
 
 .nav-tabs>li{
 	height:53px;
 	background: white;
 }
  .nav-tabs>li>a {
   
    margin-right: 2px;
    line-height: 2.62857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
     color: #999999;
    text-decoration: none;
    font-size: 12px;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #009BFF;
    cursor: default;
    
    background-color: white;
     border: 0px solid #ddd; 
     border-bottom-color: transparent;
     font-size: 12px; 
     /*border-bottom: 1px solid #009BFF;*/
}
.nav-tabs>li.active>.menu-bottom, .nav-tabs>li.active>.menu-bottom:focus, .nav-tabs>li.active>.menu-bottom:hover {
	width:50px;
	height:1px;
	background:#009BFF;
	margin-left:36%;
	margin-top:1px;
	
	}
	.tuwen-list-box{
	width:100%;
	display: inline-block;
	
}
.tuwen-list-box li{
	width:95%;
	height:140px;
	margin-left:2.5%;
	background: white;
	margin-top:10px;
	list-style: none;
	padding-top:10px;
}
.tuwen-list-left{
	width:30%;
	height:80px;
	float:left;
	 
}
.tuwen-list-right{
	width:70%;
	height:80px;
	overflow: hidden;
	float:left;
	
}
.tuwen-list-left img{
	width:80px;
	height:80px;
	float:right;
	margin-right:10%;
	 
}
.patient-name{
	width:100%;
	height:35px;
	line-height: 35px;
	color:#000000;
	font-size: 16px;
	font-weight: 600;
	margin:0px;
	
}
 
.patient-main{
	width:100%;
	height:45px;
	line-height: 22px;
	overflow: hidden;
    line-height: 22px;
    font-size: 12px;
    color: RGBA(79, 80, 96, 1);
    
    display: -webkit-box;
    white-space: normal !important;
    text-overflow: ellipsis;
    word-wrap: break-word;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
	
}
.reply-btn{
	width:100%;
	height:60px;
	clear: both;
}
.reply-btn button{
	width:80px;
	height:30px;
	border:1px solid #BBBBBB;
	border-radius: 5px;
	float:right;
	margin-right:8%;
	background: white;
	margin-top:10px;
	color: black;
	
}
/*fuwu*/
.service-list-box{
	width:95%;
	display: inline-block;
	margin-left:2.5%;
	
	
}
.service-list-box li{
	width:100%;
	height:150px;
	background: white;
	list-style: none;
	margin-top:10px;
	padding:10px 3%;
	
}
.service-number{
	width:100%;
	height:22px;
	line-height: 22px;
	font-size: 14px;
	color:RGBA(79, 80, 96, 1);
	
}
.service-time{
	width:100%;
	height:40px;
	line-height: 30px;
	font-size: 14px;
	color:RGBA(79, 80, 96, 1);
	border-bottom: 1px solid RGBA(219, 216, 216, 1);
}
.service-title{
	width:100%;
	height:44px;
	font-size: 16px;
	color:RGBA(79, 80, 96, 1);
	line-height: 44px;
	font-weight: 600;
}
.service-money span{
	float:left;
	font-size: 14px;
	color:RGBA(79, 80, 96, 1);
	
}
.service-money button{
	 
	height:28px;
	float:right;
	font-size: 14px;
	color:RGBA(79, 80, 96, 1);
	background: white;
	border:0px solid RGBA(196, 196, 196, 1);
	 	
}
.service-money button:last-child{
	margin-right:10px;
}
.service-money button a{
	 
	font-size: 14px;
	color:RGBA(79, 80, 96, 1);
	 
	 	
}