*{
	margin:0px;
	padding:0px;
}
body{
	background: RGBA(255, 255, 255, 0.5);
}
.menu-box{
	width:100%;
	display: inline-block;
}
.menu-close{
	width:100%;
	height:50px;
	line-height: 50px;
	font-size: 20px;
	color:RGBA(0, 0, 0, 1);
}
.menu-close>a:link,.menu-close>a:visited{
	text-decoration: none;
	color:color:RGBA(0, 0, 0, 1);
}
.menu-close>a>span{
	float:right;
	margin-right:5%;
}
.menu-list{
	width:95%;
	height:160px;
	text-align: center;
	background: RGBA(255, 255, 255, 1);
	font-size: 18px;
	color:RGBA(0, 0, 0, 1);
	margin:0 auto;
	margin-top:10px;
}
.menu-list>div{
	width:100%;
	height:80px;
	line-height: 80px;
}
.menu-list>div>a:hover{
	color:RGBA(25, 221, 191, 1);
}
.menu-list>div>a{
	display: inline-block;
	color:RGBA(0, 0, 0, 1);
	text-decoration: none;
}
