.home-head-bg{
	width:95%;
	height:146px;
	 
	margin:15px auto 0 auto;
	background: url(../../images/bag/banner/yixuejiaoyu.png);
	 background-repeat: no-repeat;
	  background-size:cover; 
	 position: relative;
}
.home-head-centent{
	 position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width:100%;
	height:146px;
   
  background-color: rgba(0,0,0,0) ; 
  
}
.head-title{
	width:100%;
	line-height:20px;
	margin-top:50px;
	text-align: center;
	font-size: 24px;
	color:#FFFFFF;
	 
}
/*.head-title-english{
	width:80%;
	line-height:25px;
	margin-left:20%;
	font-size: 18px;
	color:#FFFFFF;
	 
}*/
.head-btn{
	width:100%;
	height:30px;
	margin:0 auto;
	/*background: #3A8BF6;*/
	font-size: 12px;
	color:#FFFFFF;
	text-align: center;
	line-height:20px;
	margin-top:10px;
 
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #009BFF;
    cursor: default;
    background-color: white;
     border: 0px solid #ddd; 
     border-bottom-color: transparent;
     font-size: 17px; 
     border-bottom: 1px solid #009BFF;
}
a {
    color: #999999;
    text-decoration: none;
    /*font-size: 17px;*/
}
a:link,a:visited{
	text-decoration: none;
}
/*选项卡*/
.video-head-list-box{
	width:95%;
	display: inline-block;
	margin-left:2.5%;
	list-style:none;
}
.video-head-list-box li{
	width:20%;
	height:30px;
	line-height: 30px;
	text-align: center;
	background: #EDEDED;
	color:RGBA(57, 57, 57, 1);
	font-size: 12px;
	float:left;
	margin-right:4%;
	margin-top:15px;
	margin-left:1%;
	list-style: none;
}
.video-head-list-box li:first-child{
	background: #009BFF;
	color:white;
}
.video-head-list-box02 li:first-child{
	background: #009BFF;
	color:white;
}
.video-head-list-box02 li{
	width:20%;
	height:30px;
	line-height: 30px;
	text-align: center;
	background: #EDEDED;
	color:RGBA(57, 57, 57, 1);
	font-size: 12px;
	float:left;
	margin-right:4%;
	margin-top:15px;
	margin-left:1%;
	list-style: none;
}
.click-bg{
	background:#009BFF;
}
/*视频内容列表*/
.video-content-list-box{
	width:95%;
	display: inline-block;
	margin-left:2.5%;
	
}
.video-content-list-box li{
	width:45%;
	float:left;
	margin-left:1%;
	margin-right:3%;
	 display: inline-block;
	 margin-bottom: 20px;
	 
}
.valist-video-left{
	width:68%;
	float:left;
	 
}	
.video-img{
	width:30%;
	height:100px;
	float:left;
	margin-top:10px;
	margin-left:2%;
	padding:5px;
	/*background: #E1E1E1;*/
}
.video-title{
	width:100%;
	height:30px;
	line-height: 30px;
	color:#333333;
	font-size: 12px;
	overflow: hidden;
}
.video-man-name{
	width:100%;
	height:25px;
	line-height: 25px;
	color:#636B75;
	font-size:10px;
}
.video-no-money{
	width:100%;
	height:25px;
	line-height:25px;
	color:#70D445;
	font-size: 12px;
}
.video-yes-money{
	width:100%;
	height:25px;
	line-height:25px;
	color:#EF0C0C;
	font-size: 12px;
}
/*医学文章列表*/
.doctor-article-list-box{
	width:95%;
	display: inline-block;
	margin-left:2.5%;
	list-style: none;
     margin-top:20px;
}
.doctor-article-list-box li{
	width:100%;
	display: inline-block;
	border-bottom: 1px solid #D8D8D8;
	padding:0px 5px;
	 
}
.article-list-title{
	width:100%;
	line-height: 18px;
	color:#393939;
	font-size: 16px;
	display: inline-block;
	margin-top:15px;
	font-weight: 800;
	padding-bottom: 20px;
}
.col-red{
	color:#05C8AA;
}
.article-foot{
	width:100%;
	height:40px;
	line-height:25px;
}
.article-foot-i{
	width:14px;
	height:14px;
	border-radius:50px;
	background: #D8D8D8;
	display: inline-block;
	float:left;
	margin-top:13px;
}
.col-blue{
	color:#009BFF;
	font-size: 12px;
	margin-left:2%;
}
.col-gray{
	color:#999999;
	font-size: 14px;
	margin-left:2%;
	
}
.col-money{
	color:#FF7F7F;
	font-size: 10px;
	margin-left:2%;
	
}
.col-right-argument{
	float:right;
	color:#999999;
	font-size: 14px;
	
	
}
.col-right-argument i{
    position: relative;
    top:2px;
	color:#999999;
	font-size: 16px;
}
.col-right-can{
	float:right;
	color:#999999;
	font-size: 14px;
	margin-right:2%;
}
.col-right-can i{
	 position: relative;
    top:2px;
	color:#999999;
	font-size:16px;
	 
}
.search-box{
	width:90%;
	height:35px;
	 padding-top:5px;
	text-align: center;
	background: #EDEDED;
	border-radius: 50px;
	margin:0 auto;
	 margin-top:25px;
	margin-bottom: 10px;
	
}
.search-box input{
	width:70%;
	height:30px;
	float:left;
	margin-left:10%;
	font-size: 14px;
	border:0px;
	background: #EDEDED;
}
input {outline:none;}
.search-btn{
	width:40px;
	height:30px;
	border:0px;
	 float:right;
	 margin-right:2%;
	font-size: 12px;
	background: #EDEDED;
	border-radius: 50px;
	
}
.video-zanwu{
	width:100%;
	height:200px;
	text-align: center;
	margin-bottom: 100px;
	
}
.video-zanwu img{
	width:50px;
	height:50px;
	margin-top:100px;
	
}
.video-zanwu div{
	 width:100%;
	 line-height: 50px;
	 font-size: 16px;
	
}
.article-zanwu{
	width:100%;
	height:200px;
	text-align: center;
	margin-bottom: 100px;
	
}
.article-zanwu img{
	width:50px;
	height:50px;
	margin-top:100px;
	
}
.article-zanwu div{
	 width:100%;
	 line-height: 50px;
	 font-size: 16px;
	
}
.zanwu-box{
	width:100%;
	text-align: center;
	display: inline-block;
	margin-top:50px;
	margin-bottom: 300px;
}
.zanwu-img{
	width:50px;
	height:50px;
	 
   margin:0 auto;
}
.zanwu-content{
	width:100%;
	height:50px;
	line-height: 50px;
	text-align: center;
	font-size: 16px;
}
.video-title-copy{
	width:100%;
	height:80px;
	line-height: 20px;
	padding-top:10px;
	 
	 
}
.video-title-copy span{
	font-size: 16px;
	color:RGBA(57, 57, 57, 1);
	font-weight: 800;
}
.yellow-explain{
	width:100%;
	height:30px;
	line-height: 30px;
	background:#CCCCCC;
	font-size: 12px;
	text-align: center;
	clear: both;
	position: fixed;
	bottom: 0px;
}
